* {
  font-family: Cosmic Sans MS, Cosmic Sans, Cursive;
  font-size: 20px;
}
.here {
  margin-right: 15rem !important;
}
.logo {
  margin:auto 1rem;

}
/* bootstrap carousel css */
.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
  	position:relative;
      max-width: 30vh;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
  
.img-hover:hover:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:30px;
    height:30px;
    border:1px solid #000;
}
  
.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
}

.fot-log {
    max-width: 5rem;
}

.carousel-item {
    height: 100vh;

}
.carousel-inner img {
    /* margin: auto; */
    height: 100vh;

  }


      /* text inside te carousel */


  .carousel-caption {
 
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-caption h2 {
      color: #f5c0c0;
      border: thin solid none;
      margin: auto;
      background-color: #30475e;
      margin-bottom: 0.5rem;
      border-radius: 20px;
  }
  .carousel-caption p {
    font-size:x-large;
      color: #f05454;
      border: thin solid none;
      margin: auto;
      background-color: #30475e;
      border-radius: 20px;
      
  }
 



  /* customize button */
  .btn-secondary {
    color: #212529 !important;
    background-color: #f05454 !important;
    border-color: #f05454 !important;

  }

  .card img{
    max-width: 50%;
  }
  .card{
    max-width: 50%;
  }

  #parallax-image {
    background-image: url(img/kibeh.jpg);
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
 .h{
  color: #f5c0c0;
  border: thin solid none;
  margin: auto;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #30475e;
  margin-bottom: 0.5rem;
  border-radius: 20px;

 }
 
 #parallax-image1 {
  background-image: url(img/friekeh.jpg);
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


#parallax-image2 {
  background-image: url(img/lahmeh.jpg);
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.kib {
  width: 30rem;
}

.dis {
  border-left: thick solid gray;
}

.ing {
  border-left: thick solid gray;
  padding-top: 0.15rem;
}

.ing-2 {
  padding-bottom: rem;
}
 

.card-img {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.card-img:hover {
 z-index: 1; 
 transform: scale(1.25);
 box-shadow: 0 25px 40px rgba(0, 0, 0, .5) ;
}




.hover-image {
  position: absolute;
  height: 230px;
  width: 70%;

}
.hover-image img{
  border-radius: 25px;
}




